rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // User profile rule
    match /users/{userId} {
      allow read, write: if request.auth != null;
    }

    // Appointments rule: Logged in users and Admin can read, create, update, and delete appointments
    match /appointments/{appointmentId} {
      allow read, write: if request.auth != null;
    }

    // Medical Records rule
    match /medicalRecords/{recordId} {
      allow read, write: if request.auth != null;
    }

    // Medications rule
    match /medications/{medicationId} {
      allow read, write: if request.auth != null;
    }
  }
}
